@import "tailwindcss";

@theme {
  --color-brand-primary: #0F3C64;
  --color-brand-black: #000000;
  --color-brand-white: #FFFFFF;
  --color-brand-accent: #F2F4F5;
  
  --font-sans: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif;
}

:root {
  font-family: var(--font-sans);
  line-height: 1.6;
  font-weight: 400;

  color-scheme: light;
  color: #000000;
  background-color: #FFFFFF;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-content: center;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
}